<div class="footer">
    <div class="rowfoot1">
        <ul class="colfoot col1">
            <li><a href="">Chính sách đổi trả</a></li>
            <li><a href="">Hướng dẫn mua online</a></li>
            <li><a href="">Thông tin chuyển khoản</a></li>
            <li><a href="">Mua hàng số lượng lớn</a></li>
            <li><a href="">Chính sách Đại lý</a></li>
        </ul>
        <ul class="colfoot col2">
            <li><a href="">Giới thiệu công ty</a></li>
            <li><a href="">Gửi góp ý, khiếu nại</a></li>
            <li><a href="">Tìm siêu thị (1630 shop)</a></li>
            <li><a href="">Cảnh báo giả mạo</a></li>
            <li><a href="">Chất lượng phục vụ</a></li>
        </ul>
        <ul class="colfoot col3">
            <li>
                <strong>Tổng đài hỗ trợ (Gọi miễn phí)</strong>
                <p>
                    Mua hàng <a href="">1800.1061</a> (7:30 - 22:00)
                </p>
                <p>
                    Khiếu nại <a href="">1800.1063</a> (8:00 - 21:30)
                </p>
            </li>
        </ul>
    </div>
</div>