<div class="container-fluid" style="margin-top: 35px">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-12" style="padding: 0; padding-right: 15px;">
            <h2 class="hotpost">Nổi bật</h2>
            <ul *ngFor="let p of post" class="newslist" style="padding-left: 0;">
                <li>
                    <a [routerLink]="['/post-details',p.id]" class="postitemlink">
                        <div class="tempvideo">
                            <img [src]="p.hinhanh" alt="" width="250" height="140" />
                        </div>
                        {{p.tieude}}
                        <div class="timepost margin">
                            <span>{{p.thoigian}} bởi {{p.tacgia}}</span>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12" style="padding: 0;">
            <h2 style="font-size: 20px; font-weight: 400">Xem thêm</h2>
            <div class="col-12" style="padding: 0; margin-bottom: 25px;">
                <a href="#">
                    <img src="images/Windows-11-Bloom-Screensaver-Dark-1000x562-1-960x540.jpg" alt="" width="100%" />
                    <div class="m-preview-content">
                        <p class="c-meta-text">
                            <span>Aug 31, 2021</span> &nbsp;|&nbsp;&nbsp;
                            <a href="https://news.microsoft.com/vi-vn/author/linhlinh/" class="c-hyperlink">NTTU Ogarnic
                                Farm</a>
                        </p>
                        <a href="#" class="f-post-link">
                            <h3 style="font-size: 18px; font-weight: 500">Windows 11 nâng cao trải nghiệm thân thuộc
                                cho người dùng <img src="images/next.svg" alt="" height="10" />
                            </h3>
                        </a>
                    </div>
                </a>
            </div>
            <div class="col-12" style="padding: 0; margin-bottom: 25px;">
                <a href="#">
                    <img src="images/Hero-Bloom-Logo-1000x563-1-960x540.jpg" alt="" width="100%" />
                    <div class="m-preview-content">
                        <p class="c-meta-text">
                            <span>Aug 31, 2021</span> &nbsp;|&nbsp;&nbsp;
                            <a href="https://news.microsoft.com/vi-vn/author/linhlinh/" class="c-hyperlink">NTTU Ogarnic
                                Farm</a>
                        </p>
                        <a href="#" class="f-post-link">
                            <h3 style="font-size: 18px; font-weight: 500">Microsoft chính thức ra mắt Windows 11
                                <img src="images/next.svg" alt="" height="10" />
                            </h3>
                        </a>
                    </div>
                </a>
            </div>
            <div class="col-12" style="padding: 0; margin-bottom: 25px;">
                <a href="#">
                    <img src="images/MS-Teams-960x540.jpg" alt="" width="100%" />
                    <div class="m-preview-content">
                        <p class="c-meta-text">
                            <span>Aug 31, 2021</span> &nbsp;|&nbsp;&nbsp;
                            <a href="https://news.microsoft.com/vi-vn/author/linhlinh/" class="c-hyperlink">NTTU Ogarnic
                                Farm</a>
                        </p>
                        <a href="#" class="f-post-link">
                            <h3 style="font-size: 18px; font-weight: 500">Microsoft Teams miễn phí dành cho gia đình
                                và bạn bè đã có mặt tại Việt Nam <img src="images/next.svg" alt="" height="10" />
                            </h3>
                        </a>
                    </div>
                </a>
            </div>
            <div class="col-12" style="padding: 0; margin-bottom: 25px;">
                <a href="#">
                    <img src="images/Build2021-960x540.png" alt="" width="100%" />
                    <div class="m-preview-content">
                        <p class="c-meta-text">
                            <span>Aug 31, 2021</span> &nbsp;|&nbsp;&nbsp;
                            <a href="https://news.microsoft.com/vi-vn/author/linhlinh/" class="c-hyperlink">NTTU Ogarnic
                                Farm</a>
                        </p>
                        <a href="#" class="f-post-link">
                            <h3 style="font-size: 18px; font-weight: 500">
                                Microsoft ❤ Lập trình viên – Microsoft Build 2021 <img src="images/next.svg" alt=""
                                    height="10" />
                            </h3>
                        </a>
                    </div>
                </a>
            </div>
            <div class="col-12" style="padding: 0; margin-bottom: 25px;">
                <a href="#">
                    <img src="images/Inspire-Imagery-.jpg" alt="" width="100%" />
                    <div class="m-preview-content">
                        <p class="c-meta-text">
                            <span>Aug 31, 2021</span> &nbsp;|&nbsp;&nbsp;
                            <a href="https://news.microsoft.com/vi-vn/author/linhlinh/" class="c-hyperlink">NTTU Ogarnic
                                Farm</a>
                        </p>
                        <a href="#" class="f-post-link">
                            <h3 style="font-size: 18px; font-weight: 500">Microsoft công bố sản phẩm và hướng dẫn
                                tăng cường bảo mật cho môi trường làm việc kết hợp <img src="images/next.svg" alt=""
                                    height="10" />
                            </h3>
                        </a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>